
.divider-1 span { display: inline-block; width: 200px; border-bottom: 1px dotted #aaa; }
.top-content { width: 100%; padding-top: 100px; }
.carousel-control-next, .carousel-control-prev { border: 0; }





